<footer class="w-screen text-gray-600 body-font">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <!-- Logo and Brand Name -->
    <a
      href="/"
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <!-- Logo icon -->

      <span class="ml-1 text-xl">ClearSky</span>
    </a>

    <!-- Attribution and Creator Information -->
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      Created with ❤️ <span class="text-indigo-600">Sushant Kadam </span>
    </p>

    <!-- Social Media Links -->
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      <a
        href="https://www.linkedin.com/in/sushant-p-kadam/"
        class="inline-block mx-2"
      >
        <img src="./img/icons/linkedin.png" class="h-5" />
      </a>
      <a href="https://github.com/sushantkadam15" class="inline-block ml-2">
        <img src="./img/icons/github.png" class="h-5" />
      </a>
    </span>
  </div>
</footer>
