<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ClearSky</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="./logo.png">

  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="./css/style.css">

  <!-- Meta Description -->
  <meta name="description" content="ClearSky - A weather application that provides real-time weather information.">

  <!-- Open Graph Protocol -->
  <meta property="og:title" content="ClearSky">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://odd-hen-cap.cyclic.app/">
  <meta property="og:description" content="ClearSky - A weather application that provides real-time weather information.">

  <!-- Twitter Card Meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="ClearSky">
  <meta name="twitter:description" content="A weather application that provides real-time weather information.">
  <meta name="twitter:image" content="./img/twitter_card.png">
</head>
