<main class="text-gray-600">
  <div class="container px-5 py-24 mx-auto">
    <form
      action="/city"
      method="get"
      autocomplete="off"
      class="p-8 md:w-1/2 mx-auto mt-10"
    >
      <h2 class="text-gray-900 text-lg font-medium title-font mb-2">
        Search for Your City
      </h2>

      <label for="search" class="text-sm font-medium text-gray-900 sr-only"
        >Search</label
      >
      <div class="relative">
        <div
          class="absolute top-[20px] left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="search"
          id="search"
          name="cityname"
          class="w-full p-4 pl-10 text-sm border rounded-lg bg-gray-50 focus:ring focus:border-indigo-500"
          placeholder="Toronto, CA"
          required
        />
        <button
          type="submit"
          class="absolute top-[10px] right-[10px] bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 text-white font-medium rounded-lg text-sm px-4 py-2"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</main>
