<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body class="h-screen ">
    <%- include('./partials/navigation.ejs') %> <%-
    include('./partials/main_index.ejs') %>
    <%-
    include('./partials/footer.ejs') %>


    <script src="js/script.js"></script>
  </body>
</html>
