<!DOCTYPE html>
<html lang="en">
  <!-- Include the head section -->
  <%- include('./partials/head.ejs') %>

  <body class="min-h-screen">
    <!-- Include the navigation section -->
    <%- include('./partials/navigation.ejs') %>

    <!-- Include the main content section -->
    <%- include('./partials/main_index.ejs') %>

    <div class="absolute bottom-2">
      <!-- Include the footer section -->
    <%- include('./partials/footer.ejs') %>
    </div>
    

    <!-- Include the custom JavaScript file -->
    <script src="js/script.js"></script>
  </body>
</html>
